<% @bookings.each do |booking| %>
  <p>fake friend name : <%= booking.fake_friend.name %> <%= link_to "Delete",
  booking_path(booking),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%></p>
  <p><%= booking.booking_start %></p>
  <p><%= booking.booking_end %></p>
  <p><%= booking.total_price %></p>
<% end %>
