<%= simple_form_for(@fake_friend) do |f| %>
  <%= f.input :name %>
  <%= f.input :gender %>
  <%= f.input :age %>
  <%= f.input :address %>
  <%= f.input :main_description %>
  <%= f.submit %>
  <p>test</p>
<% end %>
<%# après avoir créé un FF on veut aller dans son index (puis profil) %>
