
<div class="fakefriendsform">
  <%= simple_form_for(@fake_friend, html: { class: "formcontainer"}) do |f| %>
    <%= f.input :name %>
    <%= f.input :gender, collection: ['Male', 'Female', 'Gender Fluid'], class: "form-control" %>
    <%= f.input :price %>
    <%= f.input :address%>
    <%= f.input :main_description %>
    <%= f.input :age %>
    <%= f.input :categories, as: :check_boxes, collection: Category.all %>
    <%= f.input :photo, as: :file %>
    <%= f.submit  class: "btn btn-primary"%>
  <% end %>
</div>
