<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnlyFriends</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<!-- Main Section -->
<main class="main">
   <section class="section banner banner-section">
      <div class="container banner-column">
         <div class="banner-inner">
            <h1 class="heading-xl text-white">Experience Life Like Never Before</h1>
            <p class="paragraph">
            </p>
            <button class="btn btn-darken btn-inline">
               Our Categories<i class="bx bx-down-arrow-alt"></i>
            </button>
         </div>
         <%# <div class="banner-links">
            <a href="#" title=""><i class="bx bxl-facebook"></i></a>
            <a href="#" title=""><i class="bx bxl-instagram"></i></a>
            <a href="#" title=""><i class="bx bxl-twitter"></i></a>
            <a href="#" title=""><i class="bx bxl-youtube"></i></a>
         </div> %>

      </div>


   </section>
    <div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/bd/3c/02/bd3c025c8dee4d9ba1e48605ae764818.jpg)">
    <p class="white-button-card"><%= link_to "All", fake_friends_path %></p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/564x/dd/d1/90/ddd19049bd71d45484f02dab55dbdce5.jpg)">
   <p class="white-button-card"><%= link_to "Event", fake_friends_path(query_category: "Event") %></p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/564x/78/da/63/78da63e012052efabf7c81dd55040527.jpg)">
    <p class="white-button-card"><%= link_to "Eat Out", fake_friends_path(query_category: "Sport") %></p>
  </div>

   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://witanddelight.com/content/uploads/2017/12/OutdoorVoices_Blog_-20_preview.jpg)">
   <p class="white-button-card"><%= link_to "Sport", fake_friends_path(query_category: "Sport") %></p>
  </div>

   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/84/ba/d6/84bad61719a1a22e2eec6e261c0ffdd4.jpg)">
    <p class="white-button-card"><%= link_to "Party", fake_friends_path(query_category: "Party") %></p>
  </div>

   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/564x/97/6c/cb/976ccb52b88376847d7cffa7e8cf7dc9.jpg)">
   <p class="white-button-card"><%= link_to "Entertainement", fake_friends_path(query_category: "Entertainement") %></p>
  </div>
</div>

</main>

<script src="app/javascript/controllers/home.js"></script>
 <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>


 
</body>
</html>

<%# <% @categories.each do |category| %>
  <%# <p><%= link_to category.name, fake_friends_path(query_category: category.name) %></p>
<%# <% end %>
