<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnlyFriends</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<header class="header" id="header">
   <nav class="navbar-home  ">
      <a href="#" class="brand">Only<span>Friends</span> </a>

<div class="menu bg-transperant" id="menu">
   <ul class="menu-inner">
      <li class="menu-item"><a href="#" class="menu-link">Features</a></li>
      <li class="menu-item"><a href="#" class="menu-link">Contact Us</a></li>
      <li class="menu-item"><a href="#" class="menu-link">Support</a></li>
   </ul>
</div>
      <a href="#" class="menu-block">Discover</a>
      <a href="#" class="menu-block">Sign in</a>
   </nav>
</header>
<!-- Main Section -->
<main class="main">
   <section class="section banner banner-section">
      <div class="container banner-column">
         <div class="banner-inner">
            <h1 class="heading-xl text-white">Experience Life Like Never Before</h1>
            <p class="paragraph">
            </p>
            <button class="btn btn-darken btn-inline">
               Our Categories<i class="bx bx-down-arrow-alt"></i>
            </button>
         </div>
         <div class="banner-links">
            <a href="#" title=""><i class="bx bxl-facebook"></i></a>
            <a href="#" title=""><i class="bx bxl-instagram"></i></a>
            <a href="#" title=""><i class="bx bxl-twitter"></i></a>
            <a href="#" title=""><i class="bx bxl-youtube"></i></a>
         </div>

      </div>


   </section>
    <div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <p><%= link_to "All", fake_friends_path(query_category: "All") %></p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
   <p><%= link_to "Event", fake_friends_path(query_category: "Event") %></p>
  </div>

  <div class="card-category" style="backgroundhttps://github.com/OhlalaLea/onlyfriends/pull/17/conflict?name=app%252Fviews%252Fpages%252Fhome.html.erb&ancestor_oid=105e555f94f7bdcf9656034dddba49547cbaa6c7&base_oid=7ead5cf85d53d2dc840cc199c297619d4a595a9a&head_oid=6274c009c7560050397742ba886c31cb14205e5a-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    <p><%= link_to "Eat Out", fake_friends_path(query_category: "Sport") %></p>
  </div>

   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
   <p><%= link_to "Sport", fake_friends_path(query_category: "Sport") %></p>
  </div>

   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    <p><%= link_to "Party", fake_friends_path(query_category: "Party") %></p>
  </div>

   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
   <p><%= link_to "Entertainement", fake_friends_path(query_category: "Entertainement") %></p>
  </div>
</div>
</main>

<script src="app/javascript/controllers/home.js"></script>
 <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>

<%# <% @categories.each do |category| %>
  <%# <p><%= link_to category.name, fake_friends_path(query_category: category.name) %></p>
<%# <% end %>
